@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');


body {
  margin: 0;
  font-family: 'Poppins' ;
  font-size: 16px;
  line-height: 1.8;
}

code {font-family: 'Poppins' ;}

/* Common CSS */

.white{color: #fff !important;}
.dropdown-toggle.nav-link{color: #fff !important;}
.font-weight-100{font-weight: 100;}
.font-weight-200{font-weight: 200;}
.font-weight-300{font-weight: 300;}
.font-weight-400{font-weight: 400;}
.font-weight-500{font-weight: 500;}
.font-weight-600{font-weight: 600;}
.font-weight-700{font-weight: 700;}
.font-weight-800{font-weight: 800;}


.font-size-18{font-size: 18px;}
.font-size-20{font-size: 20px;}

/* //Common CSS// */


.footer{background: #333;}
.top-number{
  position: absolute;
  top: -5px;
  left: 12px;
  background: red;
  text-align: center;
  font-size: 12px;
  color: #fff;
  width: 13px;
  height: 15px;
  border-radius: 50px;
  /* padding: 5px; */
}